/* .game-list {
  background-color: blue;
} */

button {
  font-size: 16px;
}

.fib-select {
  /* background-color: indianred; */
  padding: 20px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fib-select > select {
  width: 200px;
}

.room-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px;
}

.room-data > p {
  margin: 0px;
  padding: 5px;
  font-size: 16px;
}

/* .submit-btn {
  height: calc(1.5em + 0.5rem + 2px);
} */

.game-btn {
  /* height: calc(1.5em + 0.5rem + 2px); */
  border-radius: 5px;
  /* border: solid thin grey; */
  border: none;
  color: white;
  height: 40px;
}

.exit-btn {
  background-color: #dc3545;
  padding: 0px 30px;
  /* height: 40px; */
}

.submit-btn {
  background-color: #007bff;
  padding: 0px 30px;
  box-sizing: border-box;
  /* height: calc(1.5em + 0.5rem + 2px); */
  /* height: 40px; */
}

.num-select {
  display: inline-block;
  width: 100%;
  /* height: calc(1.5em + 0.5rem + 2px); */
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: thin solid #c4c4c4;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.num-select-div {
  flex-grow: 2;
  margin: 0px 10px;
}

.flip-btn-div {
  padding: 20px 0px;
}

.flip-btn {
  background-color: #28a745;
  padding: 0px 15px;
}

.reset {
  background-color: grey;
  margin: 0px 10px;
  padding: 0px 15px;
}

.avg-disp {
  padding: 20px 0px 0px;
}

.navbar-gamescreen {
  background-color: #f2f2f2;
  padding: 10px 30px;
  padding-right: 40spx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-gamescreen > h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.navbar-gamescreen > p {
  font-size: 1.3rem;
  font-weight: 300;
}

.copy-btn {
  background-color: #007bff;
  /* width: 80px; */
  padding: 0px 10px;
}
.copied-btn {
  background-color: #28a745;
  width: 100px;
  /* padding: 0px 60px; */
}
