.user-card {
  background-color: #f2f2f2;
  border: solid thin black;
  margin: 10px;
  border-radius: 5px;
  min-height: 180px;
  min-width: 200px;
  display: flex;
}

.user-details {
  /* background-color: khaki; */
  flex-grow: 1;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.user-details > p {
  font-size: 14px;
}

.card {
  background-color: #d8d8d8;
  flex-grow: 1;
  margin: 20px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
}

.card > p {
  font-size: 1em;
  z-index: 2;
}

.card {
  border: 1px solid #1f2525;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 1;
}

.card-flipped {
  background-color: #bacbd1;
  transform: rotate3d(0, 1, 0, 180deg);
}
